.contact {
    flex: 3;
}

.socials {
    padding: 5px 75px;
}

.socials > a {
    margin: 10px;
}

.sub {
    border: solid 2px #110d0f;
    padding: 60px 30px;
    text-align: center;
}

.sub > h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.contactForm > input {
    margin-bottom: 20px;
}