.header{
    background-color: #eed7e1;
    height: 500px;
    padding: 0 170px;
}

.headerTitles{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #444;
}

.headerTitleSn{
    position: absolute;
    top: 18%;
    left: 350px;
    font-size: 50px;
}
.headerTitleCn {
    position: absolute;
    top: 25%;
    left: 400px;
    z-index: 1;   
    font-size: 24px; 
    font-family: cursive;
}
.headerTitleLg{
    position: absolute;
    top: 22%;
    font-size: 100px;
}

.headerImg {
    position: absolute;
    right: 20px;
    top: 39PX;
    width: 800px;
}

@media screen and (max-width: 768px) {
    .header{
        height: 700px;
        padding: 0 30px;
    }
    .headerTitleSn{
        font-size: 25px;
    }
    .headerTitleLg {
        font-size: 50px;
    }
}